.footer{
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding: 30px 0px;
}

.footer p{
    text-align: center;
    color: #fff;
    font-size: 1.125rem;
}

@media (max-width: 480px){
    .footer p{
        font-size: 1rem;
    }
}