.sidenav{
    grid-area: sidenav;
    background-color: #fafbfc;
    padding: 30px 20px 30px 30px;
}

.sidenav li a{
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(10,10,10, 0.15);
    transition: background-color 0.1s ease-out;
}

.sidenav li a:hover{
    background-color: #b07dfb;
}

@media (max-width: 768px){
    .sidenav{
        overflow: auto;
        padding: 0px 30px;
        position: relative;
    }

    @keyframes seta {
        from{
            right: 30px;
        }
        to{
            right: 20px;
        }
    }
    .sidenav::after{
        content: "→";
        display: block;
        position: absolute;
        top: 5px;
        right: 30px;
        animation: seta 0.5s ease-in 0s infinite alternate;
        color: rgba(0, 0, 0, 0.3);
    }

    .sidenav ul{
        display: flex; 
        gap: 30px;
    }

    .sidenav ul li{
        flex: 1 0 60px;
    }

    .sidenav li a{
        margin: 30px 30px 30px 0px;
    }
}